<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="" async defer></script>
        <title></title>
        <link rel="stylesheet" href="">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    </head>
    <body class="mx-auto" style="width: 200px;">
        <h1>Edit your Outfit</h1>

        <nav>
            <a href="/closet"><button class="btn btn-outline-primary">Back to My Closet</button></a>
        </nav>

        <a href="/closet/<%=closet._id%>">
            <img src="<%=closet.image%>" height="200">
        </a>

        <form action="/closet/<%=closet._id%>?_method=PUT" method="POST">
            Image:<input type="url" name="image" value="<%=closet.image%>"/> <br/>
            Type:<input type="text" name="type" value="<%=closet.type%>" /> <br/>
            Season:<input type="text" name="season" value="<%=closet.season%>" /> <br/>
            Feels:<input type="number" name="feels" value="<%=closet.feels%>"/> <br/>
            Tags: <input type="text" name="tags" value="<%=closet.tags%>" /> <br/>

            <input type="submit" value="Put Edited Outfit in My Closet" class="btn btn-outline-success"/>
        </form>
    
        
    </body>
</html>