<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="mx-auto" style="width: 200px;">
        <h1>Edit your Outfit</h1>

        <nav>
            <a href="/closet"><button class="btn btn-outline-primary">Back to My Closet</button></a>
        </nav>

        <a href="/closet/<%=closet._id%>">
            <img src="<%=closet.image%>" height="200">
        </a>
<div class="font">
        <form action="/closet/<%=closet._id%>?_method=PUT" method="POST">
            Image:<input type="url" name="image" value="<%=closet.image%>"/> <br/>
            Type:<input type="text" name="type" value="<%=closet.type%>" /> <br/>
            Season:<input type="text" name="season" value="<%=closet.season%>" /> <br/>
            Feels:<input type="number" name="feels" value="<%=closet.feels%>"/> <br/>
            Tags: <input type="text" name="tags" value="<%=closet.tags%>" /> <br/>

            <input type="submit" value="Put Edited Outfit in My Closet" class="btn btn-outline-success"/>
        </form>
    
       </div> 
    </body>
</html>