<!DOCTYPE html>
<html>
    <head>
       <%- include ('./partials/head.ejs') %>
    </head>
    <body class="mx-auto" style="width: 200px;">
      <div class="container-lg">
        <h1>My Closet!</h1>

      
       <form action="/closet" method="GET">
        <input type="text" value="search" placeholder="search for outfit">
        <button class="btn btn-outline-success">search</button>
     </form>
     
       <nav>
        <a href="/closet/new"><button id="addMore" class="btn btn-outline-success btn-sm">Add More Outfits To My Closet</button></a>
        </nav>
       </div>
       <ul>
        <% for(let i=0; i< closet.length; i++){ %>
            <div id="card">
            <li>
                <a href="/closet/<%=closet[i]._id%>">
                    <img src="<%=closet[i].image%>" height="200" ">
                </a>
            </li>
            <nav id="bottomButtons">
                <a href="/closet/<%=closet[i]._id%>/edit" class=""btn btn-primary>
                    <button id= "edit" class="btn btn-outline-warning btn-sm">Edit your Outfit Here</button>
                </a>
                <form action="/closet/<%= closet[i]._id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE"class="btn btn-outline-danger btn-sm"/>
                </form>
            </nav>
            
        <% } %>
            </div>
    </ul>
       
     
       
    </body>
</html>