<!DOCTYPE html>
<html>
    <head>
        <%- include ('./partials/head.ejs') %>
    </head>
    <body class="mx-auto" style="width: 200px;">
        <h1>Today's Selected Outfit</h1>
        <div class="container" >
            <nav>
                <a href="/closet"><button class="btn btn-outline-primary">Back To My Closet</button></a>
            </nav>

            <a href="/closet/<%=closet._id%>">
                <img src="<%=closet.image%>" height="200">
            </a>
        <div class="font">
            <ul>
                <li>You chose: <span class="answer"><%= closet.type %> </span></li>
                <li> Best for: <span class="answer"><%= closet.season %></span> </li>
                <li> Last time you wore it your feels were a level: <span class="answer"><%= closet.feels %></span> </li>
                <li> #tags: <span class="answer"><%= closet.tags %></span></li>
            </ul>
            </div>
        </div>
            
        <nav>
            <a href="/closet/<%= closet._id%>/edit">
                <button class="btn btn-outline-warning">Edit your Outfit Here</button>
            </a>
        </nav>
        
    </body>
</html>